<div class="modal-movie" [style.background-image]="getBackground()">
    <div class="nav">
        <div class="back-to-list-btn" [routerLink]="['']">
            <img src="../../assets/arrow_back_white_192x192.png" alt="">
            <span></span>
        </div>
        <div class="next-back">
            <div class="previous-btn">
                <img src="../../assets/arrow_back_white_192x192.png" alt="">
                <span></span>
            </div>
            <div class="next-btn" (click)="toNextMovie()">
                <span></span>
                <img src="../../assets/arrow_next_white_192x192 (копия).png" alt="">
            </div>
        </div>

    </div>
    <div class="movie-post">
        <div class="movie-info">
            <div class="movie-img">
                <img [src]="'http://image.tmdb.org/t/p/w500' + movieInfo.poster_path" [alt]="movieInfo.id">
            </div>
            <div class="favourite-btn">
                <span (click)="toFavourite()"
                    class="fav-btn">{{isFavourite ?  'Remove from favourite' : 'Add to favourite'}}</span>
                <span (click)="toFavourite()"
                    [ngClass]="{'favourite-btn-mobile': isFavourite ?  'Remove from favourite' : 'Add to favourite'}"></span>
            </div>
            <h1 class="movie-title">{{movieInfo.original_title}}</h1>
            <div class="movie-score">
                <p>Score: <strong> {{movieInfo.vote_average}}</strong> </p>
                <p>Rating: <strong> {{movieRating}}</strong> </p>
                <p>Release date: <strong> {{movieInfo.release_date}}</strong> </p>
            </div>

            <h1 class="movie-title-mobile">{{movieInfo.original_title}}</h1>

            <hr>

            <p>{{movieInfo.overview}}</p>

            <hr>

        </div>
    </div>
</div>