<div class="movie-list">
    <p>Latest releases</p>
    <div class="movie-elements">
        <div class="movie-item" *ngFor="let item of movieList" [routerLink]="[ '/modal/' + item.id]">
            <img [src]="item?.poster_path === null ? '../../assets/_Error_Document_Page-512.png' : ('http://image.tmdb.org/t/p/w500' + item?.poster_path)"
                [alt]="item.id">
        </div>
    </div>

    <div class="movie-pages">
        <div *ngIf="pager.pages && pager.pages.length" class="pagination">
            <div [ngClass]="{disabled:pager.currentPage === 1}">
                <span (click)="setPage(1)" [routerLink]="[ '/page', 1]">First</span>
            </div>
            <div [ngClass]="{disabled:pager.currentPage === 1}">
                <span (click)="setPage(pager.currentPage - 1)"
                    [routerLink]="[ '/page', pager.currentPage - 1 ]">Previous</span>
            </div>
            <div *ngFor="let page of pager.pages" class="pagination-pages">
                <span (click)="setPage(page)" [routerLink]="[ '/page', page ]"
                    [ngClass]="{active:pager.currentPage === page}">{{page}}</span>
            </div>
            <div [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <span (click)="setPage(pager.currentPage + 1)"
                    [routerLink]="[ '/page', pager.currentPage + 1 ]">Next</span>
            </div>
            <div [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <span (click)="setPage(pager.totalPages)" [routerLink]="[ '/page', pager.totalPages]">Last</span>
            </div>
        </div>
    </div>
</div>