
@media screen and (max-width: 720px) and (max-height: 830px) {
    .movie-list{
        padding: 10px 20px 30px 20px !important;
        .movie-elements {
            .movie-item {
                width: 47% !important;
                margin-right: 0px !important;
            }
        }
    }
    
    .pagination-pages {
        display: none;
    }

    .pagination {
        padding-bottom: 30px;
        span {
            font-size: 15px !important;
        }
        
    }
}

@media screen and (max-width: 768px) {
    .pagination {
        span {
            font-size: 13px !important;
        }
        
    }
}
.movie-list {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: rgba($color: #dbdbdb, $alpha: 1.0);
    padding: 20px 60px 30px 60px;
    font-size: 24px;

    .movie-elements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        

        .movie-item {
            margin-bottom: 20px;
            width: 17%;
            
            img {
                transition: 0.3s;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0 0 15px rgba($color: #000000, $alpha: 1.0);    
                
                &:hover {
                    transition: 0.3s;
                    box-shadow: 0 0 35px rgba($color: burlywood, $alpha: 1.0);
                }
            } 
        }
    }
    .movie-pages {
        margin-top: 40px;
        text-align: center;

        span {
            cursor: pointer;
            transition: 0.3s;
            font-weight: 500;
            color: rgb(121, 121, 121);
            padding: 10px 15px 10px 15px;
            font-size: 19px;
            border: 3px solid rgb(165, 165, 165);

            &:hover {
                transition: 0.3s;
                color: rgb(0, 0, 0);
                border: 3px solid rgb(0, 0, 0);
                box-shadow: 0 0 10px rgb(0, 0, 0);
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
}